/* Общие стили */
a, a:any-link {
    color:black;
    text-decoration: none;
}
.login, .reg, .logout, .product_favorite {
    color:white !important;
}
body {
    height: 100%;
}
header,footer, section {
    margin: 60px 0;
    padding: 30px 0;
}
footer{
    margin: 60px 0px 0px 0px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.claider {
    position: absolute;
    left: 16.2%;
    top: 18%
}

.home img {
    position: absolute;
    width: 350px;
    height: 200px;;
    top: 24%;
    left: 16.2%;
}

.home1 img {
    position: absolute;
    width: 350px;
    height: 200px;
    top: 24%;
    left: 40%;
}

.home2 img {
    position: absolute;
    width: 350px;
    height: 200px;
    top: 24%;
    left: 63.5%;
}



.Toys6 {
    font-size: 300%;
    position: absolute;
    left: 16.1%;
    top: 1%

}